/* Color styles */
--red--800: rgba(167, 25, 48, 1);
--red--700: rgba(193, 21, 52, 1);
--red--600: rgba(219, 40, 62, 1);
--red--500: rgba(255, 76, 76, 1);
--red--400: rgba(253, 111, 102, 1);
--red--300: rgba(255, 170, 165, 1);
--red--200: rgba(255, 229, 227, 1);
--red--100: rgba(255, 241, 241, 1);
--orange--800: rgba(184, 26, 26, 1);
--orange--700: rgba(231, 56, 18, 1);
--orange--600: rgba(250, 84, 48, 1);
--orange--500: rgba(250, 116, 52, 1);
--orange--400: rgba(255, 136, 85, 1);
--orange--300: rgba(255, 197, 173, 1);
--orange--200: rgba(255, 237, 223, 1);
--orange--100: rgba(255, 245, 239, 1);
--yellow--100: rgba(255, 249, 230, 1);
--yellow--200: rgba(255, 244, 205, 1);
--yellow--300: rgba(255, 225, 118, 1);
--yellow--400: rgba(255, 204, 47, 1);
--yellow--500: rgba(255, 185, 0, 1);
--yellow--600: rgba(244, 167, 17, 1);
--yellow--700: rgba(215, 112, 18, 1);
--yellow--800: rgba(157, 76, 0, 1);
--green--100: rgba(245, 251, 228, 1);
--green--200: rgba(236, 248, 202, 1);
--green--300: rgba(211, 234, 145, 1);
--green--400: rgba(157, 210, 89, 1);
--green--500: rgba(122, 193, 67, 1);
--green--600: rgba(89, 183, 56, 1);
--green--700: rgba(66, 167, 50, 1);
--green--800: rgba(20, 139, 32, 1);
--teal--100: rgba(236, 248, 239, 1);
--teal--200: rgba(218, 242, 225, 1);
--teal--300: rgba(151, 234, 174, 1);
--teal--400: rgba(114, 219, 169, 1);
--teal--500: rgba(90, 209, 173, 1);
--teal--600: rgba(37, 193, 165, 1);
--teal--700: rgba(18, 170, 152, 1);
--teal--800: rgba(0, 133, 117, 1);
--navy--100: rgba(241, 250, 251, 1);
--navy--200: rgba(229, 245, 249, 1);
--navy--300: rgba(143, 225, 243, 1);
--navy--400: rgba(70, 198, 253, 1);
--navy--500: rgba(70, 183, 253, 1);
--navy--600: rgba(29, 158, 251, 1);
--navy--700: rgba(30, 105, 241, 1);
--navy--800: rgba(7, 64, 156, 1);
--purple--100: rgba(253, 243, 252, 1);
--purple--200: rgba(253, 233, 251, 1);
--purple--300: rgba(241, 162, 228, 1);
--purple--400: rgba(211, 106, 195, 1);
--purple--500: rgba(188, 74, 177, 1);
--purple--600: rgba(165, 24, 144, 1);
--purple--700: rgba(147, 10, 150, 1);
--purple--800: rgba(104, 0, 140, 1);
--pink--100: rgba(255, 244, 248, 1);
--pink--200: rgba(255, 235, 242, 1);
--pink--300: rgba(255, 203, 222, 1);
--pink--400: rgba(255, 155, 191, 1);
--pink--500: rgba(253, 104, 140, 1);
--pink--600: rgba(232, 69, 108, 1);
--pink--700: rgba(214, 54, 83, 1);
--pink--800: rgba(183, 12, 74, 1);
--neutral--100: rgba(248, 248, 248, 1);
--neutral--200: rgba(235, 235, 235, 1);
--neutral--300: rgba(210, 210, 210, 1);
--neutral--400: rgba(184, 184, 184, 1);
--neutral--500: rgba(120, 120, 120, 1);
--neutral--600: rgba(69, 69, 69, 1);
--neutral--700: rgba(44, 44, 44, 1);
--neutral--800: rgba(18, 18, 18, 1);
--gray--b--100: rgba(244, 246, 250, 1);
--gray--b--200: rgba(232, 233, 233, 1);
--gray--b--300: rgba(208, 210, 211, 1);
--gray--b--400: rgba(161, 165, 168, 1);
--gray--b--500: rgba(115, 120, 124, 1);
--gray--b--600: rgba(68, 75, 81, 1);
--gray--b--700: rgba(44, 52, 59, 1);
--gray--b--800: rgba(21, 30, 37, 1);
